<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="eBizChargeForSAP.Properties.Settings.SBODemoUSConnectionString"
      connectionString="Data Source=CBSDEVSVR1;Initial Catalog=SBODemoUS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="eBizChargeForSAP.Properties.Settings.SBODemoUSConnectionString1"
      connectionString="Data Source=SIMON-PC\MSSQL2012;Initial Catalog=SBODemoUS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="eBizChargeForSAP.Properties.Settings.CBSTestDBConnectionString"
      connectionString="Data Source=SIMON-PC\MSSQL2014;Initial Catalog=CBSTestDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="eBizChargeForSAP.Properties.Settings.SBODemoUSConnectionString2"
      connectionString="Data Source=CBSDEVSVR1;Initial Catalog=SBODemoUS;User ID=sa;Password=Cbs7412369"
      providerName="System.Data.SqlClient" />
    <add name="eBizChargeForSAP.Properties.Settings.SBODemoUSConnectionString3"
      connectionString="Data Source=CBSDEVSVR1;Initial Catalog=SBODemoUS;User ID=sa;Password=Cbs7412369"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="versionSupport" value="9.X_32_Hana" />
    <add key="AName" value="eBizChargeForB1Hana_92_32" />
    <add key="version" value="2.0.1.94" />
    <add key="trace" value="on" />
    <add key="Pin" value="7o0eRq" />
    <add key="SourceKey" value="_QKHFa91v8Labicd180P547KCv6Hv4u4" />
    <add key="SAPDBName" value="SBODEMOUS" />
    <!-- B1 Database server -->
    <add key="SAPDBServer" value="192.168.1.52:30015" />
    <!-- B1 License server -->
    <add key="SAPLicenseServer" value="192.168.1.52:40000" />
    <!-- B1 Database server Type
        MSSQL2005 = 4,
        MSSQL2008 = 6,
        MSSQL2012 = 7,
    -->
    <add key="SAPDBServerType" value="8" />
    <!-- DB server login account.  Leave it blank for trusted connection
     -->
    <add key="SAPDBUserName" value="SYSTEM" />
    <add key="SAPDBUserPasswd" value="CbZ@1450" />
    <add key="SAPSiteUserName" value="manager" />
    <add key="SAPSiteUserPasswd" value="manager" />
    <!-- SandBox: https://sandbox.ebizcharge.com/soap/gate/CCEBDC0A 
        production:https://secure.ebizcharge.com/soap/gate/CCEBDC0A
    -->
    <add key="CCWebServiceUrl" value="https://sandbox.ebizcharge.com/soap/gate/CCEBDC0A" />
    <!-- Banking account for out going and incoming-->
    <add key="SAPNegativeIncomingPayment" value="Y" />
    <add key="SAPIncomingCCAccountFilter" value="" />
    <add key="SAPOutgoingCCAccountFilter" value="" />
    <!-- Transactions Import related-->
    <add key="importPin" value="" />
    <add key="importSourceKey" value="" />
    <add key="importCCWebServiceUrl" value="https://sandbox.ebizcharge.com/soap/gate/CCEBDC0A" />
    <add key="importBPGroupName" value="Imported from eBiz" />
    <add key="importBPHeaderCode" value="C_" />
    <add key="importItemHeaderCode" value="I_" />
    <add key="importTransStatus" value="Authorized" />
    <add key="importTransType" value="Auth Only" />
    <add key="importInvoiceType" value="1" />
    <!-- 0-Down Payment Invoice, 1-Invoice, 2-Invoice + payment, 3-Reserve Invoice -->
    <!-- SAP UI Object interface-->
    <add key="SAPConnectionKey" value="0030002C0030002C00530041005000420044005F00440061007400650076002C0050004C006F006D0056004900490056" />
    <add key="InstalledFolder" value="" />
    <add key="SAPSalesOrderFormID" value="139" />
    <add key="SAPARInvoiceFormID" value="133" />
    <add key="SAPInvoicePaymentFormID" value="60090" />
    <add key="SAPReserveInvoiceFormID" value="60091" />
    <add key="SAPCreditFormID" value="179" />
    <add key="SAPReturnFormID" value="180" />
    <add key="SAPARDownPaymentFormID" value="65300" />
    <add key="SAPFormBtnRefID" value="2" />
    <add key="SAPFormTextBoxRefID" value="222" />
    <add key="SAPFormLabelRefID" value="230" />
    <add key="SAPFIDCustID" value="4" />
    <add key="SAPFIDCustName" value="54" />
    <add key="SAPFIDRecordID" value="8" />
    <add key="SAPFIDTotalAmount" value="29" />
    <add key="SAPFIDSubTotal" value="22" />
    <add key="SAPFIDTax" value="27" />
    <add key="SAPFIDFreight" value="89" />
    <add key="SAPFIDDiscount" value="42" />
    <add key="SAPFIDRemark" value="16" />
    <add key="SAPFIDRemarkStatic" value="17" />
    <add key="SAPFIDDesc" value="18" />
    <add key="SAPFIDMatrix" value="38" />
    <add key="SAPFIDColCommodityCode" value="1" />
    <add key="SAPFIDColQty" value="13" />
    <add key="SAPFIDColUnitPrice" value="14" />
    <add key="SAPFIDColTaxRate" value="19" />
    <add key="SAPFIDColProductName" value="3" />
    <add key="SAPFIDColDiscountRate" value="15" />
    <add key="SAPFIDColProductRefNum" value="1" />
    <add key="maxSelectRow" value="99" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eBizService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="B1InstallServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="B1InstallServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://soap.ebizcharge.net/eBizService.svc" binding="basicHttpBinding" bindingConfiguration="eBizService" contract="ServiceReference1.IeBizService" name="eBizService" />
      <endpoint address="https://api1.ebizcharge.net/epic/B1InstallService.asmx" binding="basicHttpBinding" bindingConfiguration="B1InstallServiceSoap" contract="B1InstallService.B1InstallServiceSoap" name="B1InstallServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>