<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="InstalledFolder" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="B1InstallServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="B1InstallServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api1.ebizcharge.net/epic/B1InstallService.asmx"
        binding="basicHttpBinding" bindingConfiguration="B1InstallServiceSoap"
        contract="B1InstallService.B1InstallServiceSoap" name="B1InstallServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>